<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204856789338-jjomlun99ab1tgm694ak6l92tef63omd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204856789338-jjomlun99ab1tgm694ak6l92tef63omd</string>
	<key>API_KEY</key>
	<string>AIzaSyDy7HBaeExsk72O6MH6EHoRhiXNjfmwr6w</string>
	<key>GCM_SENDER_ID</key>
	<string>204856789338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexusWallet</string>
	<key>PROJECT_ID</key>
	<string>nexus-4c28d</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-4c28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204856789338:ios:7a9ebf9b459cec6ad18b63</string>
</dict>
</plist>